@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --bg: 255 255 255;
  --text: 17 17 17;
  --border: 229 229 229;

  --red: 254 202 202;
  --orange: 254 215 170;
  --yellow: 254 240 138;
  --purple: 221 214 254;
  --blue: 191 219 254;
  --green: 187 247 208;
  --pink: 251 207 232;
}


[data-theme="dark"] {
  --bg: 17 17 17;
  --text: 255 255 255;
  --border: 63 63 70;

  --red: 153 27 27;
  --orange: 154 52 18;
  --yellow: 133 77 14;
  --purple: 91 33 182;
  --blue: 30 64 175;
  --green: 22 101 52;
  --pink: 157 23 77;
}

[data-theme='dark'] a { color: rgb(255, 255, 255) }
[data-theme='dark'] a:active { color: rgb(255, 255, 255) }
[data-theme='dark'] a:hover { color: rgb(221, 221, 221)} */

a {
  color: #000;
}

a:hover {
  color: #555;
  font-weight: 300;
}

a.active {
  color: #000;
  font-weight: 700;
}

.dark a {
  color: #ccc;
}
.dark a:hover {
  color: #fff;
  font-weight: 300; 
}
.dark a:active {
  color: #ccc; 
  font-weight: 700; 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.scrollbar-hide {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
.scrollbar-hide::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }

.msg.left {
  align-self: flex-start;
}

.msg.right {
  align-self: flex-end
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  background-color: transparent;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}

.disabled {
  background-color: transparent;
  color: #bbb;
  border: 1px solid #bbb;
  pointer-events: none
}

.dark button {
  background-color: transparent;
  color: #8CB2E8;
  border: 1px solid #8CB2E8;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}

.dark .disabled {
  background-color: transparent;
  color: #444;
  border: 1px solid #666;
  pointer-events: none
}

.warning {
  color: #dc3545;
  border-color: #dc3545;
}

.activePaginationButton {
  background-color: #0d6efd;
  color: #fff;
}

/* col-start-1 col-span-2 row-start-1 border-1 outline- border-stone-300 shadow-gray-400 rounded flex justify-between alingn-items-center p-2 */
.header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  border: 1px solid #444;
  outline: 2px solid #a52a52ff;
  outline-offset: 1px;
  -moz-outline-radius: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.dark .TextArea {
  background-color: transparent;
}

.dark .ant-input {
  color: #ccc !important;
}

.dark .ant-input::placeholder {
  color: #aaa !important;
}

input::placeholder { color: #555}
.dark input::placeholder { color : #aaa }